{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1><img src="/static/img/twoge.png" alt="logo" height="150" /> Welcome to Twoge</h1>
<br>
    <main role="main">
        <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Move over Twitter, there's a new app in town - introducing Twoge, the one-stop-shop for all things Dodge! Elon Musk may be tweeting about rockets, but we're blasting off in the Dodge Challenger! Twitter is dead, long live Twoge! Buckle up, because the only thing we're slowing down for is a photo-op in front of a Dodge.</p>
            <p>
            <a class="btn btn-primary" href="/posts" role="button">See all Twoges &raquo;</a>
            </p>
        </div>
        </div>
    </main>

{% endblock %}
